*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
}
.container{
    background-image: url(https://i.pinimg.com/originals/e5/ec/e0/e5ece0bc798fdc41de5892e1052f1d1f.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.form {
    background-color: white;
    padding: 20px 24px;
    border-radius: 8px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.form-heading {
    font-size: 24px;
    text-align: center;
    margin-bottom: 24px;
}
.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
}
.form-label {
    font-weight: 700;
}
.form-input {
    height: 36px;
    padding: 0 16px;
    outline: none;
    border: 1px solid #dadada;
    border-radius: 4px;
}
.form-input:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.form-input:focus{
    border-color: blue;
}
.button {
    height: 36px;
    padding: 0 16px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
}
.button-blue{
    background-color: blue;
    color: white;
}
.redirect {
    text-align: center;
    margin-top: 24px;
}


